@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Poppins&display=swap');

body {
  background-color: #f3f3f3;
}
nav {
  font-family: 'Exo 2', sans-serif;
}

.balance {
  font-family: 'Exo 2', sans-serif;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  max-height: 100px;
}

.movements {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: large;
  border-radius: 1rem;
  overflow: hidden;
}

.movement_row {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.movement_item {
  width: 33%;
}

.transfer {
  padding-top: 10;
  padding-bottom: 10;
  padding-right: 20;
  padding-left: 20;
  border-radius: 1rem;
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.loan {
  padding-top: 10;
  padding-bottom: 10;
  padding-right: 20;
  padding-left: 20;
  border-radius: 1rem;
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.close {
  padding-top: 10;
  padding-bottom: 10;
  padding-right: 20;
  padding-left: 20;
  border-radius: 1rem;
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
