@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
  background-color: #f3f3f3;
}
nav {
  font-family: 'Exo 2', sans-serif;
}

.balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.app {
  font-family: 'Exo 2', sans-serif;
  font-size: small;
}
